.ant-slider-dot {
  display: none;
}
/* .ant-slider .ant-slider-track {
  background-color: #52c41a !important; 
}

 .ant-slider:hover .ant-slider-track {
  background-color: #52c41a !important; 
}
.ant-slider .ant-slider-handle{
  background-color: #52c41a !important; 
}
.ant-slider:hover .ant-slider-handle{
  background-color: #52c41a !important; 
  border: none;
} */

media-play-button, media-time-display,media-seek-forward-button,media-seek-backward-button,media-mute-button,media-volume-range,media-fullscreen-button {
  background: none !important;
}

.controls{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}

media-controller{
  --media-icon-size: 60px;
  --media-icon-size: 60px;

}

