.ant-slider-dot {
  display: none;
}

/* for video player */
media-play-button,
media-time-display,
media-seek-forward-button,
media-seek-backward-button,
media-mute-button,
media-volume-range,
media-fullscreen-button {
  background: none !important;
  --media-button-icon-width: 40px;
  --media-button-icon-height: 40px;
}
media-controller:fullscreen {
  /* The element automatically fills the screen, but you can add specific styles */
  background-color: black; /* Optional: ensures a black background */
  width: 100%;
  height: 100%;
}
/* media-time-display {
  font-size: 24px;
}
 */
/* media-play-button {
  background: none;
  --media-button-icon-width: 40px;
  --media-button-icon-height: 40px;
  border-radius: 6px;
}
media-play-button:not([mediapaused]) {
  background: none;
} */

/* .controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
} */

/* for modal */
/* .modal {
  position: absolute;
  top: 20px;
  left: 120px;
  right: 120px;
  bottom: 20px;
  outline: none; 

}
 */
/* .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.5);
  
} */
/* 
.close-button{
  position: absolute;
  top: 20px;
  left: 1300px;
} */
